# PyEzTrace documentation - https://www.mkdocs.org/user-guide/configuration/
site_name: PyEzTrace
site_description: Lightweight Python tracing and logging with hierarchical output and an interactive viewer
site_url: https://jeffersonaaron25.github.io/pyeztrace/
repo_url: https://github.com/jeffersonaaron25/pyeztrace

theme:
  name: material
  palette:
    - scheme: default
      primary: "#0d1540"   
      accent: "#1865e0"  
      background: "#10172a" 
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: slate
      primary: "#06102B"
      accent: "#3fa1ff" 
      background: "#0c161f"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  font:
    text: Roboto
    code: Fira Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - toc.integrate
    - toc.follow
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.tabs.link
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - announce.dismiss
    - announce.info
    - logo
  logo: assets/logo_dark.svg
  favicon: assets/favicon.ico

plugins:
  - search
  - awesome-pages
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Usage: usage.md
  - Configuration: configuration.md
  - Contributing: contributing.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      linenums_style: table
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.keys
  - toc:
      permalink: ⚓︎
      toc_depth: 3
